*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 6.3%;
    margin-top: 3.6%;
    margin-right: 6.3%;
}
.list{
    margin-left: -40%;
}
.list ul {
    display: flex;
    margin-top: 6%;
    margin-left:-50%;
    justify-content:flex-start;
    justify-content:space-between;
}
.list ul li {
    list-style: none;   
}
.list ul li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color:#3c2f60;
}
nav .hbutton button{
    border-radius: 10px;
    background-color: #5955b3;
    color:#f5ffff;
    border-color:#5955b3;
    font-size: 16px;
    font-weight:555;
    word-spacing: 2px;
    height:50px;
    width:145px;
    margin-top: 3%;
}
section {
display: flex;
margin-top: 5%;
margin-left: 6.3%;
margin-right: 6.3%;
}
section .left-section h1{
    
    font-size: 64px;
    line-height: 74px;
    font-weight: 700;
    text-align: left;
    word-spacing: 3px;
    letter-spacing:normal;
    font-style: normal;
}
section .left-section span{
    color:#5955b3;
}
section .left-section p{
    width:180%;
    margin-top: 4%;
    font-size: 16px;
    color:#8a8795;
    line-height: 26px;
    word-spacing: 1px;
}
#top{
    margin-top: 20.5%;
}
section .right-section{
    margin-left: 5%;
    margin-top: -2%;

}
section .left-section button{
    margin-top: 10.5%;
    height: 52px;
    width:187px;
    border-radius: 12px;
    background-color: #5955b3;
    color:#ffffff;
    border-color:#5955b3;
    font-size: 16px;
    font-weight:500;
    word-spacing: 3.5px;
    font-style: normal;
    padding: 14px 28px;   
}